---
import Layout from '../layouts/Layout.astro'
import Aside from '../components/Aside.astro'
import Info from '../components/Info.astro'
import Proyecto from '../components/Proyecto.astro'
import { projects, skills } from '../assets/json/cv.json'
import Icode from '../assets/icon/Icode.astro'
import Itools from '../assets/icon/Itools.astro'
import Habilidades from '../components/Habilidades.astro'
---

<Layout title='Lenin Masapanta - Informacion Personal 👨🏽‍💻'>
  <div class='personal-container'>
    <header>
      <Aside />
      <Info />
    </header>
    <main>
      <!-- <section class='experiencias'></section> -->
      <section class='proyectos'>
        <h2><Icode />Proyectos</h2>
        {
          projects
            .slice(0, 4)
            .map((project, i) => (
              <Proyecto
                name={project.name}
                description={project.description}
                github={project.github}
                url={project.url}
                img={project.img}
                key={i}
                colors={project.colors}
                tags={project.technologies}
                loading={i < 2 ? 'eager' : 'lazy'}
              />
            ))
        }
      </section>
      <section class='habilidades'>
        <h2><Itools />Habilidades</h2>
        <Habilidades list={skills} />
      </section>
      <section class='sobre-mi'>
        <h2>Sobre mí</h2>
        <p>
          Hola, soy Lenin Masapanta, estudiante de Desarrollo de Software en la Escuela Politécnica
          Nacional (EPN). Mi pasión por el arte y la tecnología me impulsa a explorar diversas
          formas de creatividad: desde el dibujo 🎨 como medio de expresión, hasta la tecnología ⚙️
          como el arte del futuro. Además, encuentro en la cocina 👨🏽‍🍳 una oportunidad de combinar
          sabores para crear experiencias únicas.
        </p>
        <p>
          Me considero una persona optimista y confiable, convencido de que la vida es demasiado
          corta para preocuparse por cosas triviales. Mi sueño es aprovechar mis conocimientos para
          inventar algo nuevo, fusionando mis pasiones en un proyecto que deje una huella
          significativa.
        </p>
      </section>
    </main>
    <footer></footer>
  </div>
</Layout>

<style is:global>
  .personal-container {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0px auto;
    gap: 50px;
  }

  .personal-container {
    padding: 100px 0px;
  }

  .personal-container main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .proyectos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-template-areas:
      'proyecto proyecto pro_1 pro_1 pro_1'
      'pro_2 pro_2 pro_1 pro_1 pro_1'
      'pro_2 pro_2 pro_1 pro_1 pro_1'
      'pro_3 pro_3 pro_3 pro_4 pro_4'
      'pro_3 pro_3 pro_3 pro_4 pro_4';
    h2 {
      grid-area: proyecto;
      justify-content: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      margin: 0;
      padding: 25px 15px;
    }
  }
  .personal-container section h2 {
    display: flex;
    font-size: 26px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
  }
  .personal-container section h2 svg {
    height: 25px;
    width: 25px;
  }

  .habilidades {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
  }

  .sobre-mi {
    font-size: 16px;
    font-weight: bold;
  }

  .sobre-mi h2 {
    margin-bottom: 40px;
  }

  @media (max-width: 750px) {
    .personal-container {
      padding: 100px 15px;
    }
    main .proyectos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'proyecto pro_1'
        'pro_2  pro_1'
        'pro_2  pro_1'
        'pro_3  pro_4'
        'pro_3  pro_4';
    }
  }

  @media (max-width: 450px) {
    main .proyectos {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'proyecto'
        'pro_1'
        'pro_2'
        'pro_3'
        'pro_4';
    }
  }
</style>
